*{
    height: 100%;
}

.page,.box,.text{
    flex-direction: column;
}

.text,.page,.container,.box{
    display: flex;
}

.box h1,.box p{
    margin: 0;
    color: black; 
}

.container, .box{
    justify-content: space-around;
}

.text{
    align-self:center;
}

.container{
    flex-direction: row;
    align-items: center;
}

.box{
    width: 5%;
    height: 10%;
    border-radius: 100%;
    border-style: outset;
    border-color: brown;
    background-color: white;
    flex-flow: wrap;
    flex-basis: auto;
    transition:all .07s;
}

.played{
    border-width: 10px;
    border-style: groove;
    border-color: red;
    transform:scale(1.3);
}

